@media screen and (max-width: 1200px){
    .desktop_nav{
        display: none;
    }

    .hamburger_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home_screen{
        width: 100vw;
        height: 600px;
    }

    /* About Us */
    #about{
        justify-self: center;
        width: 100vw;
    }
    .about_container{
       display: flex;
       flex-direction: column;
       gap: 40px;
       align-items: center;
        
    }
    .about_container_one{
        flex-direction: column;
        gap: 80px;
    }
    .about_container_two{
      flex-direction: column-reverse;
      gap: 80px;
    }

    .about_container_two, .about_text{
        width: 700px;
    }
    .about_container_two, .about_image_container{
        width: 700px;
    }
    .about_image_container img{
        width: 100%;
        border-radius: 60px;
        outline-offset: 20px;
    }
    .div_container{
        width: 100vw;
        justify-self: center;
    }

    #rooms{
        height: 2000px;
        align-self: center;
        justify-self: center;
        width: 100vw;
    }
    .room_type{
        width: 80%;
        height: 600px;
        background-color: #ffffff;
    }
    .room_type img{
        width: 100%;
    }
    .rooms_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    #services{
        align-self: center;
        justify-self: center;
        width: 100vw;
    }
    .services_container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: space-evenly;
    }

    #testimonials{
        align-self: center;
        justify-self: center;
        width: 100vw; 
    }
    .testimonials_cntainer{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .footer{
        justify-self: center;
        margin-top: 10px;
        width: 100vw;
        margin-bottom: 10vh;
    }
    .footer_container{
        display: block;
    }
    .footer_links_container{
        margin: 20px 0;
        width: 100%;
        display: flex;
        gap: 150px;
    }
    .footer_links{
        width: 100px;
    }

}
@media screen and (max-width: 600px){
    .desktop_nav{
        display: none;
    }

    .hamburger_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home_screen{
        width: 100vw;
        height: 700px;
    }
    .home_screen_container h1{
       font-size: 2rem;
    }
    .home_screen_container h2{
        font-size: 1.3rem;
    }
    .home_screen_container h3{
        font-size: 0.6rem;
    }
    .home_screen_container p{
        font-size: 0.8rem;
    }
    .home_screen_container{
        width: 80%;
        /* border: 2px solid red; */
        height: 620px;
    }
    /* .home_screen_text{
        border: 2px solid yellow;
    } */

    /* About Us */
    #about{
        justify-self: center;
        width: 100%;
        margin-top: 50px;
    }
    #about h1{
        font-size: 1.5rem;
    }
    #about p{
        font-size: 0.8rem;
    }
    .about_container{
       display: flex;
       flex-direction: column;
       gap: 40px;
       align-items: center;
    }
    .about_container img{
        width: 100%;
    }
    .about_container_one{
        flex-direction: column;
        gap: 40px;
        width: 300px;
    }
    .about_container_two{
      flex-direction: column-reverse;
      gap: 40px;
      width: 300px;
    }

    .about_text{
        width: 100%;
    }
    .about_image_container{
        width: 100%;
    }
    .about_image_container img{
        width: 100%;
        border-radius: 20px;
        outline-offset: 10px;
    }
    .div_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    #rooms{
        height: 1100px;
        align-self: center;
        justify-self: center;
        width: 100vw;
        padding-top: 50px;
    }
    #rooms h1{
        font-size: 1.5rem;
    }
    #rooms h3{
        font-size: 0.8rem;
    }
    #rooms p{
        font-size: 0.9rem;
    }
    .room_type{
        width: 80%;
        /* height: 200px; */
        background-color: #ffffff;
    }
    .room_type{
        width: 100%;
    }
    .room_type img{
        width: 100%;
    }
    .rooms_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 80%;
        width: 90%;
        justify-self: center;
        padding: 10px;
    }
    #services{
        align-items: center;
        justify-content: center;
        width: 100%;
        justify-self: center;
    }
    #services h1{
        font-size: 1.5rem;
    }
    .services_container{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .services_items{
        width: 100%;
        justify-content: center;
    }

    #testimonials{
        align-self: center;
        justify-self: center;
        width: 100vw; 
    }
    #testimonials h1{
        font-size: 1.5rem;
    }
    .testimonials_cntainer{
       display: flex;
       flex-direction: column;
    }

    .footer{
        justify-self: center;
        margin-top: 10px;
        width: 100vw;
        margin-bottom: 10vh;
    }
    .footer_container{
        display: block;
    }
    .footer_links_container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }
}