*{
    margin: 0;
    padding: 0;
}


.outfit-uniquifier{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal; 
}
body{
  font-family: "Outfit", sans-serif;
  /* font-optical-sizing: auto;  */
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
/* HOME SCREEN */
.home_screen{
    background-color: rgb(126, 126, 170);
    height: 90vh;
    background-image: url(./images/0ceb588eff9b9051bb190785b4fa8dbdec0914cd\ \(3\).png);
    background-blend-mode: multiply;
    color: white;
    background-size: cover;
    position: relative;
    padding: 0;
}

.desktop_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_screen_container{
    margin: 40px;
    position: absolute;
    width: 93%;
    display: flex;
    gap: 130px;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
}

.desktop_nav ul{
    display: flex;
    gap: 2rem;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}


.home_screen_text p{
    margin-top: 20px;
}

.home_screen_text h1{
    font-size: 2.5rem;
}

.home_screen h3{
    color: white;
    font-size: 1rem;
    
}

span{
    color: #ff9a00;
}


.home_screen_text{
    margin-top: 150px;
    /* position: absolute; */
    height: 300px;
    line-height: 1.5;
    margin: 0;
}

.home_screen_btn{
    margin: 20px 0;
}
button{
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
} 
.book_btn{
    background-color: #ff9a00;
}

.book_btn:hover{
    color: #ffffff;
    background: none;
    border: 1px solid #ffffff;
    
}

.explore_btn{
    background: none;
    border: 1px solid #ffffff;
}
.explore_btn:hover{
    background-color: #ff9a00;
    color: #ffffff;
    border: none;
}

/* ABOUT SECTION */
#about{
    margin-top: 70px;
}
.about_text_p1{
    justify-self: center;
    padding-top: 10px;
}

.about_container_one{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about_container_two{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.about_container{
    padding: 20px 80px 60px 80px;
} 
.about_image_container img{
    width: 500px; 
    border-radius: 34px;
    outline: 1px solid rgb(163, 163, 163);
    outline-offset: 5px;
    
}
.about_text{
    width: 600px;
}
#about h1{
    margin-bottom: 5px;
}

#about p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.transparent{
    color: rgb(163, 163, 163);
}

.about_btn{
    color: #ff9a00;
    border: 1px solid #ff9a00;
}
.about_btn:hover{
    color: #ffffff;
    background-color: #ff9a00;
}
.div_container{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background-color: #ff9a00;
    padding-top: 10px;
    padding-bottom: 10px;
}
.div_container div{
    text-align: center;
    justify-content: center;
}

.div_container p{
    font-size: 0.8rem;
}

/* ROOMS SECTION */
#rooms{
    background-color: rgb(240, 239, 239);
}

#rooms h1{
    text-align: center;
    margin-top: 10px;
}
.rooms_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 40px;
    height: 60vh;
    padding-top: 40px;
}

.room_type{
    background-color: #ffffff;
    height: 300px;
}
.rooms_container h3{
    text-align: center;
}
.rooms_container p{
    text-align: center;
    color: rgb(160, 157, 157);
    font-size: 0.8rem;
}

/* SERVICES SECTION */
.section_heading{
    text-align: center;
    padding: 20px;
}

#services{
    margin: 40px;
    width: 90%;
    justify-self: center;
}
.services_items{
    height: 300px;
    border: 1px solid rgb(214, 212, 212);
    text-align: center;
}
.special_services_item{
    height: 300px;
    text-align: center;
    background-color: #ff9a00;
    color: white;
}

.services_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: space-around;
}

.services_container img{
    margin: 50px;
}
.itme_text p{
    color: rgb(211, 208, 208);
    font-size: 1rem;
    padding: 40px;
}

/* TESTIMONIALS */
.testimonials_cntainer{
    margin: 0 40px 40px 40px;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}
.testimonial_items{
    height: 200px;
    text-align: center;
    padding: 30px;
}

.testimonial_items h3{
    font-weight: lighter;
    padding: 15px 10px;
}
.testimonial_items img{
    padding: 25px;
}
.testimonial_text{
    font-size: 1.2rem;
    color: rgb(141, 139, 139);
}

.testimonial_email{
    font-size: 0.8rem;
    color: rgb(141, 139, 139);
}

/* FOOTER */

.footer{
    margin-bottom: 100px;
    margin-top: 150px;
}
.footer_links a{
    color: rgb(141, 139, 139);
    font-size: 1rem;
}

.footer_links li{
    padding-top: 10px;
}

.footer_links p{
    padding-bottom: 20px;
}

.footer_container{
    display: flex;
    gap: 150px;
    margin: 50px;
}

.footer_links_container{
    display: flex;
    gap: 150px;
}

.footer_text{
    color: rgb(141, 139, 139);
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer h1{
    padding-bottom: 20px;
    position: relative;
}

.hamburger_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger_icon span{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3 ease-in-out;
}

.menu_links{
    position: absolute;
    top: 100%;
    right: 0px;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: 0.3 ease-in-out;
}


.menu_links.open{
    max-height: 800px;
}

.menu_links li{
    padding: 10px 10px 10px 0px;

}
.hamburger_icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger_icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger_icon.open span:nth-child(3){
    transform: rotate(-45deg) translate(10px, -5px);
}

/* .hamburger_icon span:first-child{
    transform: none;
}

.hamburger_icon span:first-child{
    opacity: 1;
}

.hamburger_icon span:first-child{
    transform: none;
} */

.hamburger_nav{
    display: none;
}
.hamburger_menu{
    position: relative;
    display: inline-block;
}